body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    }
    
    header {
    background: #35424a;
    color: white;
    padding: 20px 0;
    text-align: center;
    }
    
    h1 {
    margin-bottom: 10px;
    }
    
    main {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    }
    
    footer {
    text-align: center;
    padding: 20px;
    background: #35424a;
    
    }
